extends layout

block content
  a(href="/new") Post a message 

  h1= title
  each msg in messages
    div(class='flex')
      div(class='time')= format(msg.added, { addSuffix: true })
      div(class='container')
        div(class='name')= msg.user
        p= msg.text
  br
  a(href="/new") Post a message 